<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>C++语言介绍</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/language.css}">
</head>
<body>
<section>
    <h1>C++语言介绍</h1>
    <ul>
        <li>
            <a href="https://zh.wikipedia.org/wiki/C++" target="_blank">维基百科</a>
        </li>
        <li>
            <a href="https://zh.cppreference.com/" target="_blank">语言文档</a>
        </li>
    </ul>
    <p>C++是一种被广泛使用的计算机程序设计语言。</p>
    <p>它是一种通用程式設計語言，支援多重编程范式，例如過程化程序設計、面向对象程序設計、泛型程式設計和函数式程序設計等。 比雅尼·斯特勞斯特魯普博士在贝尔实验室工作期间在20世紀80年代發明並實現了C++。</p>
    <a id="back" href="../home">返回</a>
</section>
<footer>
    <p>2023 - 桐谷たけち</p>
</footer>
</body>
</html>