<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Go语言介绍</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/language.css}">
</head>
<body>
<section>
    <h1>Go语言介绍</h1>
    <ul>
        <li>
            <a href="https://zh.wikipedia.org/zh-cn/Go" target="_blank">维基百科</a>
        </li>
        <li>
            <a href="https://go.dev/doc/" target="_blank">官方文档</a>
        </li>
    </ul>
    <p>Go是Google开发的一种静态强类型、编译型、并发型，并具有垃圾回收功能的编程语言。</p>
    <p>
        罗伯特·格瑞史莫、罗勃·派克及肯·汤普逊于2007年9月开始设计Go，稍后伊恩·兰斯·泰勒、拉斯·考克斯加入项目。Go是基于Inferno操作系统所开发的。</p>
    <a id="back" href="../home">返回</a>
</section>
<footer>
    <p>版权所有 &copy; 2023 - 桐谷たけち</p>
</footer>
</body>
</html>