<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java语言介绍</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/language.css}">
</head>
<body>
<section>
    <h1>Java语言介绍</h1>
    <ul>
        <li>
            <a href="https://zh.wikipedia.org/wiki/Java" target="_blank">维基百科</a>
        </li>
        <li>
            <a href="https://docs.oracle.com/javase/8/docs/api/" target="_blank">官方文档</a>
        </li>
        <li>
            <a href="https://www.oracle.com/java/technologies/" target="_blank">Oracle Java 技术</a>
        </li>
    </ul>
    <p>Java是一种广泛使用的计算机编程语言，拥有跨平台、面向对象、泛型编程、静态类型、编译执行等特性。</p>
    <p>Java语言的设计目标是让程序员编写一次，到处运行（Write Once, Run Anywhere, WORA），意味着Java代码可以在不同的平台上运行，而无需重新编译。</p>
    <a id="back" href="../home">返回</a>
</section>
<footer>
    <p>2023 - 桐谷たけち</p>
</footer>
</body>
</html>