<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JavaScript语言介绍</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/language.css}">
</head>
<body>
<section>
    <h1>JavaScript语言介绍</h1>
    <ul>
        <li>
            <a href="https://zh.wikipedia.org/zh-cn/JavaScript" target="_blank">维基百科</a>
        </li>
        <li>
            <a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript" target="_blank">官方文档</a>
        </li>
    </ul>
    <p>JavaScript是一门基于原型和头等函数的多范式高级解释型编程语言，它支持面向对象程序设计、指令式编程和函数式编程。</p>
    <p>
        它提供方法来操控文本、数组、日期以及正则表达式等。不支持I/O，比如网络、存储和图形等，但这些都可以由它的宿主环境提供支持。它由ECMA通过ECMAScript实现语言的标准化。</p>
    <a id="back" href="../home">返回</a>
</section>
<footer>
    <p>版权所有 &copy; 2023 - 桐谷たけち</p>
</footer>
</body>
</html>