<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Python语言介绍</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/language.css}">
</head>
<body>
<section>
    <h1>Python语言介绍</h1>
    <ul>
        <li>
            <a href="https://zh.wikipedia.org/zh-cn/Python" target="_blank">维基百科</a>
        </li>
        <li>
            <a href="https://docs.python.org/zh-cn/3/" target="_blank">官方文档</a>
        </li>
    </ul>
    <p>Python，是一种广泛使用的解释型、高级和通用的编程语言。</p>
    <p>
        Python支持多种编程范型，包括结构化、过程式、反射式、面向对象和函数式编程。它拥有动态类型系统和垃圾回收功能，能够自动管理内存使用，并且其本身拥有一个巨大而广泛的标准库。</p>
    <a id="back" href="../home">返回</a>
</section>
<footer>
    <p>版权所有 &copy; 2023 - 桐谷たけち</p>
</footer>
</body>
</html>