<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ruby语言介绍</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/language.css}">
</head>
<body>
<section>
    <h1>Ruby语言介绍</h1>
    <ul>
        <li>
            <a href="https://zh.wikipedia.org/zh-cn/Ruby" target="_blank">维基百科</a>
        </li>
        <li>
            <a href="https://www.ruby-lang.org/en/documentation/" target="_blank">官方文档</a>
        </li>
    </ul>
    <p>Ruby 是一种面向对象、指令式、函数式、动态的通用编程语言。</p>
    <p>在20世纪90年代中期由日本计算机科学家松本行弘设计并开发。 遵守BSD许可证和Ruby License。它的灵感与特性来自于Perl、Smalltalk、Eiffel、Ada以及Lisp语言。</p>
    <a id="back" href="../home">返回</a>
</section>
<footer>
    <p>版权所有 &copy; 2023 - 桐谷たけち</p>
</footer>
</body>
</html>