<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rust语言介绍</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/language.css}">
</head>
<body>
<section>
    <h1>Rust语言介绍</h1>
    <ul>
        <li>
            <a href="https://zh.wikipedia.org/zh-cn/Rust" target="_blank">维基百科</a>
        </li>
        <li>
            <a href="https://www.rust-lang.org/zh-CN/learn" target="_blank">官方文档</a>
        </li>
    </ul>
    <p>Rust是由Mozilla主导开发的通用、编译型编程语言。</p>
    <p>设计准则为“安全、并发、实用”，支持函数式、并发式、过程式以及面向对象的程序设计风格。 Rust语言原本是Mozilla员工Graydon
        Hoare的个人项目，而Mozilla于2009年开始赞助这个项目，并且在2010年首次公开。</p>
    <a id="back" href="../home">返回</a>
</section>
<footer>
    <p>版权所有 &copy; 2023 - 桐谷たけち</p>
</footer>
</body>
</html>