<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Swift语言介绍</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/language.css}">
</head>
<body>
<section>
    <h1>Swift语言介绍</h1>
    <ul>
        <li>
            <a href="https://en.wikipedia.org/wiki/SWIFT" target="_blank">维基百科</a>
        </li>
        <li>
            <a href="https://docs.swift.org/swift-book/documentation/the-swift-programming-language" target="_blank">官方文档</a>
        </li>
    </ul>
    <p>Swift编程语言，支持多编程范式和编译式，用来撰写基于macOS/OS X、iOS、iPadOS、watchOS和tvOS的软件。</p>
    <p>
        苹果公司于2014年在苹果开发者年会发布了Swift编程语言。从设计上苹果公司让Swift与Objective-C共存在苹果公司的操作系统上。</p>
    <a id="back" href="../home">返回</a>
</section>
<footer>
    <p>版权所有 &copy; 2023 - 桐谷たけち</p>
</footer>
</body>
</html>