/* 设置页面背景颜色 */
body {
    background-color: #f7f7f7;
}

/* 设置标题样式 */
h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 40px auto 30px auto;
    text-align: center;
    width: 70%;
}

/* 设置链接样式 */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin: 20px 0;
}

a {
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
}

a:hover {
    background-color: #2980b9;
    cursor: pointer;
    opacity: 0.8;
}

/* 设置文本样式 */
section p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 20px;
    text-align: justify;
}

/* 设置按钮样式 */
button {
    background-color: #66c0f4;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto 0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

/* 设置按钮悬停时的样式 */
button:hover {
    opacity: 90%;
}

/* 设置按钮的父元素的样式 */
section {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    padding: 30px 50px;
    width: 80%;
}

/* 设置页脚的样式 */
footer {
    background-color: #2f3542;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* 设置页脚链接的样式 */
footer a {
    color: #fff;
    text-decoration: none;
}