/* 设置页面背景颜色 */
body {
    background-color: #f1f7fc;
}

/* 设置标题的样式 */
h1 {
    color: #2f3542;
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
}

/* 设置用户信息的样式 */
.user-info {
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 50px auto;
    padding: 20px;
}

/* 设置用户信息的标签样式 */
.user-info p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #57606f;
}

/* 设置用户信息的值样式 */
.user-info span {
    color: #3498db;
    font-weight: bold;
}

/* 设置按钮的样式 */
button {
    background-color: #66c0f4;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

/* 设置按钮悬停时的样式 */
button:hover {
    opacity: 90%;
}

/* 设置返回按钮的样式 */
#home {
    background-color: #66c0f4;
}

/* 设置页脚的样式 */
footer {
    background-color: #2f3542;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* 设置页脚链接的样式 */
footer a {
    color: #fff;
    text-decoration: none;
}
